{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10"
          ]
        }
      }
    ],
    "es2015",
    "stage-1",
    "es2016",
    "es2017",
    "react"
  ]
}
